<p>
Input Form
</p>
<br>
<p>Input Nama Jurusan(1) : <input [(ngModel)]=namajurusan1 type="text"> </p>
<p>Input Penjelasan Jurusan(1) : <input [(ngModel)]=penjelasanjurusan1 type="text"> </p>
<br>
<p>Input Nama Jurusan(2) : <input [(ngModel)]=namajurusan2 type="text"> </p>
<p>Input Penjelasan Jurusan(2) : <input [(ngModel)]=penjelasanjurusan2 type="text"> </p>
<br>
<p>Input Nama Jurusan(3) : <input [(ngModel)]=namajurusan3 type="text"> </p>
<p>Input Penjelasan Jurusan(3) : <input [(ngModel)]=penjelasanjurusan3 type="text"> </p>
<button (click)="KlikButton()">Submit</button>
<br>
{{Pesan}} :: {{pesan1}} <br>
{{pesan2}} :: {{pesan6}}  <br>
{{pesan4}} :: {{pesan5}} <br>
